env: minikube

replicas: 1
rollingUpdate:
  maxSurge: 1
  maxUnavailable: 1

image:
  name: eu.gcr.io/ons-rasrmbs-management
  pullPolicy: Always

database:
  managedPostgres: false
  secrets:
    usernameKey: username
    passwordKey: password
    nameKey: db-name

container:
  port: 80
service:
  port: 80

resources:
  requests:
    memory: "128Mi"